@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&');

:root {
    --color01: #9bcfb8;
    --color02: #7fb174;
    --color03: #689c97;
    --color04: #072a24;
    --color05: #019858;
    --color06: #fff;
    --color07: #686666;
    --color08: #efff11;

    
    --color10: #D6EAF8;
    --color11: #2874A6;
    --color12: #AED6F1;
    --color13: #154360;
    --color14: #1B4F72;
    --color15: #1F618D;

}

/* 字體樣式 */
body {
    font-family: "LXGW WenKai TC", cursive;
}

/* 字體大小 */
.fw-100{
    font-weight: 100;
}

.fw-200{
    font-weight: 200;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 800;
}

.fw-900{
    font-weight: 900;
}

/* 背景圖相關 */
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* roller 相關應用 */
.roller-box-t{
    position: relative;
    overflow: hidden;
}
.roller-box-t .roller{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.roller-box-t:hover .roller{
    transform: translateY(0);
    transition: 1.5s;
}

.roller-box-b{
    position: relative;
    overflow: hidden;
}
.roller-box-b .roller{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.roller-box-b:hover .roller{
    transform: translateY(0);
    transition: 1.5s;
}

.roller-box-r{
    position: relative;
    overflow: hidden;
}
.roller-box-r .roller{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.roller-box-r:hover .roller{
    transform: translateX(0);
    transition: 1.5s;
}

.roller-box-l{
    position: relative;
    overflow: hidden;
}
.roller-box-l .roller{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.roller-box-l:hover .roller{
    transform: translateX(0);
    transition: 1.5s;
}